@font-face{font-family:"Biblical";src:Tahoma;format:"TrueType"}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block

audio[controls], canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

html
  font-size: 100%
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0
  font-size: 13px
  line-height: 1.231
  background-size 100%
  min-height 100%
  
body, button, input, select, textarea
  font-family: sans-serif
  color: #222

::-moz-selection
  background: #fe57a1
  color: #fff
  text-shadow: none

::selection
  background: #fe57a1
  color: #fff
  text-shadow: none

a
  color: #00e

a:focus
  outline: thin dotted

a:hover, a:active
  outline: 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

blockquote
  margin: 1em 40px

dfn
  font-style: italic

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

ins
  background: #ff9
  color: #000
  text-decoration: none

mark
  background: #ff0
  color: #000
  font-style: italic
  font-weight: bold

pre, code, kbd, samp
  font-family: monospace, monospace
  _font-family: 'courier new', monospace
  font-size: 1em

pre
  white-space: pre

pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none

q:before, q:after
  content: ""

q:before, q:after
  content: none

small
  font-size: 85%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

ul, ol
  margin: 1em 0
  padding: 0 0 0 40px

dd
  margin: 0 0 0 40px

nav ul, nav ol
  list-style: none
  margin: 0
  padding: 0

img
  border: 0
  -ms-interpolation-mode: bicubic

svg:not(:root)
  overflow: hidden

figure
  margin: 0

form
  margin: 0

fieldset
  border: 0
  margin: 0
  padding: 0

legend
  border: 0
  *margin-left: -7px
  padding: 0

label
  cursor: pointer

button, input, select, textarea
  font-size: 100%
  margin: 0
  vertical-align: baseline
  *vertical-align: middle

button, input
  line-height: normal
  *overflow: visible

button, input[type="button"], input[type="reset"], input[type="submit"]
  cursor: pointer
  -webkit-appearance: button

input[type="checkbox"], input[type="radio"]
  box-sizing: border-box

input[type="search"]
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top

input:valid, textarea:valid

input:invalid, textarea:invalid
  background-color: #f0dddd

table
  border-collapse: collapse
  border-spacing: 0

body
  font: 18px/28px 'Biblical',Helvetica, Helvetica Neue, Arial

.wrapper
  width: 90%
  margin: 0 5%

#header-container header > div
	overflow hidden
	width 100%
#footer-container
  border-top 20px solid #6e1317
  visibility hidden
  display none

img#landing
	visibility hidden
	display none
	width 100%

#title
  color: black
  display none

::-moz-selection
  background: #f16529
  color: #fff
  text-shadow: none

::selection
  background: #f16529
  color: #fff
  text-shadow: none

nav a
  display: block
  margin-bottom: 10px
  padding: 0.4em 0
  background: transparent
  color: white
  text-align: center
  text-decoration: none
  font-weight: bold
  letter-spacing 0.1em

nav a:hover
  color: #AAA

//nav a:hover
//  text-decoration: underline

#main
  padding 2px 0
  width 80%

#main article h1
  font-size: 2em

#main aside
  color: #777
  padding: 1%

#footer-container footer
  color: white
  padding: 20px 0

.ie7 #title
  padding-top: 20px

.ir
  display: block
  text-indent: -999em
  overflow: hidden
  background-repeat: no-repeat
  text-align: left
  direction: ltr

.ir br
  display: none

.hidden
  display: none
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  zoom: 1
  
#promoted
	ul
		width 65%
.products
	position relative
	overflow hidden
	text-align center
	margin-left auto
	margin-right auto
	padding 0
	float left
	li
		width 31.0666%
		margin 1em 1.47%
		border 1px solid #DDD
		overflow hidden
		display block
		float left
		color #333
		text-align center
		font-size 75%
		*
			display block
		img
			padding 4.9%
			max-width 90%
			margin-left auto
			margin-right auto
		img:hover
			-webkit-transform scale(1.1)
			transform scale(1.1)
		span
			padding 0.1em 1em
		span.price
			float right
		span.buy
			float left
			font-size 200%
	li.alpha
		margin-left 0
	li.omega
		margin-right 0
@media only screen and (min-width: 480px)
  nav a
    float: left
    width: 100%
    margin: 0 1.7%
    padding: 0.1em 2% 0 2%
    margin-bottom: 0

  nav li:first-child a
    margin-left: 0

  nav li:last-child  a
    margin-right: 0

  nav ul li
    float right
    overflow hidden
    width 20%

  .oldie nav a
    margin: 0 0.7%
	#intro
		overflow hidden
		background #FEF8E5
		margin-top 1.5em
		box-shadow 0 4px 8px #AEA895
		article
			float right
			max-width 31%
			padding 0 2%
			box-shadow 0 4px 8px #AEA895
			height 15em
		img
			max-width 65%
			width 65%
			float left
			background-color white
			border-bottom 2px solid #686447
			height 15em

@media only screen and (min-width: 768px)
	#main aside
    -webkit-box-shadow: 0 5px 10px #6e1317
    -moz-box-shadow: 0 5px 10px #6e1317
    box-shadow: 0 5px 10px #6e1317

  #title
    float: left

  nav
    float right
    width 100%
    background-color #484447

  #main aside
    float: right
    width: 31%
  div#logo
  	width 20%
  	max-width 90%
  	img
  		visibility visible
  		display block
  		z-index 5
  		float right
  		margin-top 0.5em
  		max-width 20%
  #statistics
		display block
		float left
		text-align left
		padding 0.2em 0.7em
		span
			padding 0 1em
@media only screen and (min-width: 1140px)
  .wrapper
    width: 80%
    margin: 0 auto

@media print
  *
    background: transparent
    color: black
    text-shadow: none
    filter: none
    -ms-filter: none

  a, a:visited
    color: #444
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    content: ""

  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group

  tr, img
    page-break-inside: avoid

  img
    max-width: 100%

  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3

  h2, h3
    page-break-after: avoid

